/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
/.fleet
/.idea
/.vscode

/public/web
/public/storage/download
/public/download

/resources/views/shop/web

/storage/app/public/download
/storage/app/public/web

/database/seeders/Code/Instructor/Studies